html,
body {
  font-size: 1em;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #ffa200; /* For browsers that do not support gradients */
  background-image: linear-gradient(#3e5acc, #ffa2003f);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right bottom;
  margin: 0;
  font-family: 'Press Start 2P';
}
